{% extends 'base.html' %}

{% block content %}
{% load bootstrap3 %}
<h2 class="sub-header">Charities</h2>
<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>upvotes</th>
        <th>name</th>
        <th>description<</th>
      </tr>
    </thead>and
    {% if charity_list %}
    <tbody>
      <tr>
        {% for charity in charity_list %}
        <td><h4>{{ forloop.counter }}</h4></td>
        <td><h6>{{ charity.upvotes }}</h6></td>
        <td><h3>{{ charity.name }}</h3></td>
        <td><h9>{{ charity.description }}</h9></td>
      </tr>
    </tbody>
    {% endfor %}
    {% endif %}
  </table>
</div>

<!-- {% if charity_list %}
<ul>
{% for charity in charity_list %}
<li>{{ charity.upvotes }} {{ charity.name }}</li>

{% endfor %}
</ul>
{% else %}
<p>No charities are available.</p>
{% endif %}

{% if charity_list %}
<ul>
{% for charity in charity_list %}
<li>{{ charity.upvotes }} {{ charity.name }}</li>

{% endfor %}
</ul>
{% else %}
<p>No charities are available.</p>
{% endif %}
</table> -->

{% endblock %}
